<!DOCTYPE html>
<html>

<head>
    <!-- Page Title -->
    <title>Pet Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- CSS for Styling -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- JavaScript for Interactivity -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    <!-- ADDED JavaScript -->
    <!-- <script src="javascripts/listScript.js"></script> -->
</head>

<body>
        <%- include navbar.ejs %>
    <br><br><br>
    <h1><%= title%></h1>

    <% if ("error" in xxx) { %>
        <p><%= xxx.error[0]%></p>

    <% } %>

    <div class="wrapper">

    <form id="html_form" role="form" method="post" action="findcare">
    
        <div class="form-group">
            <label for="day">Day</label>
            <input id="day" class="datepicker" name="day" width="276" />
            <script>
                $('.datepicker').datepicker({
                    uiLibrary: 'bootstrap4'
                });
            </script>
        </div>
        <button type="hidden" id="myButton" class="btn btn-primary" >Search Based on date</button>

    </form>
    <br>
    <a href="findcatservices"><button class="btn btn-primary">Find Cat Services</button></a>

    <a href="finddogservices"><button class="btn btn-primary">Find Dog Services</button></a>
    <br>

    <div class="card mb-3">
       <!--  <div class="card-header">
            <i class="fas fa-dog"></i> &nbsp; CareTaker List
        </div> -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>CareTaker Name</th>
                            <th>Available Date (MM/DD/YYYY)</th>
                            <th>Service Name</th>
                            <th>Base Price</th>
                            <th>Current Bid</th>
                            <th>Bid</th>
                        </tr>
                    </thead>
                    <tfoot>
                    </tfoot>
                    <tbody>
                        <% for(var i=0; i<tbl.length; i++) { %>
                            <% var date = tbl[i].available_dates;
                            var todate=new Date(date).getDate();
                            var tomonth=new Date(date).getMonth()+1;
                            var toyear=new Date(date).getFullYear();
                            var original_date=tomonth+'/'+todate+'/'+toyear; %>
                        <tr>
                            <td><a href='/seecaretaker?ctid=<%=tbl[i].caretakerid%>'> <%= tbl[i].name%></a></td>
                            <td><%= original_date%></td>
                            <td><%= tbl[i].sname%></td>
                            <td><%= tbl[i].baseprice%></td>
                            <td><% if (tbl[i].max) { %> <%= tbl[i].max %><% } else { %>--<% } %></td>
                            <td><a href='/getbid?listid=<%=tbl[i].listid%>&max=<% if (tbl[i].max) { %><%= tbl[i].max %><% } else { %><%= tbl[i].baseprice%><% } %>'> Place Bid </a></td>
                        </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted"><span class="badge badge-pill badge-info"></span></div>
    </div>
    </div>



    <!--    <script>
            (function() {
                window.addEventListener('load', function() {
                    var forms = [document.getElementById('html_form')];
                    var validation = Array.prototype.filter.call(forms, function(form) {
                        form.addEventListener('submit', check, false);
                    });
                }, false);
            })();
        </script> -->


</body>

</html>