<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>Owner</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

		<!-- ADDED JavaScript -->
		<script src="javascripts/signupScript.js"></script>
  </head>


<body>
    <h1><%= title%></h1>
    <% if (cats.length > 0) { %>
    <h3>your cats</h3>
    <ol>
    	<% for( var i in cats ) {%>
    	<li><%= cats[i].name %></li>
    	<% } %>
    </ol>
    <br>
    <br>
       <% } %>
    <% if (dogs.length > 0) { %>
    <h3>your dogs</h3>
    <ol>
    	<% for( var i in dogs ) {%>
    	<li><%= dogs[i].name %></li>
    	<% } %>
    </ol>
    <br>
    <br>
       <% } %>
    <% if (futures.length > 0) { %>
    <h3>Current bids</h3>
    <ol>
        <% for( var i in futures ) {%>
        <% var date = futures[i].date;
        var todate=new Date(date).getDate();
        var tomonth=new Date(date).getMonth()+1;
        var toyear=new Date(date).getFullYear();
        var original_date=tomonth+'/'+todate+'/'+toyear; %>
        <li><%= futures[i].uname %>--------<%= futures[i].sname %>----------<%= futures[i].price %>--------<%= original_date %></li>
        <% } %>
    </ol>
    <br>
    <br>
       <% } %>
       <% if (losing.length > 0) { %>
    <h3>Losing bids</h3>
    <ol>
        <% for( var i in losing ) {%>
        <% var date = losing[i].d;
        var todate=new Date(date).getDate();
        var tomonth=new Date(date).getMonth()+1;
        var toyear=new Date(date).getFullYear();
        var original_date=tomonth+'/'+todate+'/'+toyear; %>
        <li><a href='/getbid?listid=<%= losing[i].listid%>'><%= losing[i].uname %>-----<%= losing[i].sname %>-------<%= losing[i].maxprice %>-------<%= losing[i].myprice %>-----<%= original_date %></a></li>
        <% } %>
    </ol>
    <br>
    <br>
       <% } %>
    <% if (pasts.length > 0) { %>
    <h3>History</h3>
    <ol>
        <% for( var i in pasts ) {%>
        <% var date = pasts[i].date;
        var todate=new Date(date).getDate();
        var tomonth=new Date(date).getMonth()+1;
        var toyear=new Date(date).getFullYear();
        var past_date=tomonth+'/'+todate+'/'+toyear; %>
        <li><a href='/getreview?listid=<%= pasts[i].lid%>'><%= pasts[i].uname %>--------<%= pasts[i].sname %>--------<%= pasts[i].price %>--------<%= past_date %></a></li>
        <% } %>
    </ol>
    <% } %>
    <a href="getpet">ADD PET</a><br>
    <a href="deletepet">DELETE PET</a><br>
    <a href="getcare">Search for Caretakers</a>


</body>
</html>